@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rufina&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Amiko', sans-serif;
}

:root {
  --container-forms: #31373b1e;
  --input: rgb(252, 252, 252);
  --text: rgb(252, 252, 252);
  --btn-quiz: rgb(0, 139, 209);
  --btn-quiz-text: rgb(255, 255, 255);
  --btn-bold: 700;
  --nav-footer: #473e8754;
  --btn: #3f3294;
}

body {
  background: linear-gradient(
    329deg,
    rgba(246, 108, 177, 0.56) 0.47%,
    rgb(71 50 200 / 93%) 93.49%
  );
  min-height: 100vh;
}

.container {
  /* display: flex; */
  display: grid;
  flex-direction: column;
  place-items: center;

  gap: 11px;
  grid-template-columns: 1fr;
  grid-template-rows: 12vh repeat(3, 0.8fr) 12vh;
  grid-template-areas: 'header' 'section' 'section' 'section' 'fotter';
}
/*---------- Start Nav -------------------*/
header {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: header;
  align-self: baseline;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70vw;
  background-color: var(--nav-footer);
  padding: 5px 30px;
  border-radius: 15px;
  margin: 4px;
}

.Logo {
  width: 50px;
  cursor: pointer;
}

.Logout {
  background-color: var(--btn);
  border-radius: 20px;
  color: var(--text);
  width: 140px;
  height: 40px;
  margin: 0;
  border: none;
  cursor: pointer;
  font-size: 18px;
}
.continer-log {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  font-weight: 400;
  cursor: pointer;
}
/*----------End Nav -------------------*/
.homeSection {
  grid-area: section;
  display: flex;
  flex-direction: column;
  background-color: var(--container-forms);
  width: 70vw;
  align-items: center;
  gap: 23px;
  min-height: 71vh;
  justify-content: space-around;
  border-radius: 15px;
  padding-top: 2em;
  padding-bottom: 2em;
}
.logoHome {
  padding-top: 30px;
}
.homeSection div img {
  width: 260px;
}
.butnHome {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 6px;
}
.butnHome a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.butnHome a:hover {
  background-color: rgb(255, 252, 56);
  color: black;
}

section button {
  width: 29%;
  height: 67px;
  border-radius: 15px;
  border: none;
  font-weight: var(--btn-bold);
  background: linear-gradient(
    329deg,
    rgba(246, 108, 177, 0.56) 0.47%,
    rgb(71 50 200 / 93%) 93.49%
  );
  font-size: 18px;
  color: var(--btn-quiz-text);
  margin-bottom: 26px;
}

.butnHome button:hover {
  background-color: rgb(255, 252, 56);
  color: black;
}

footer {
  background-color: var(--nav-footer);
  width: 70vw;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px auto 0 auto;
  border-radius: 15px;
  padding: 20px;
  align-self: end;
}
h4 {
  color: var(--text);
}
footer div h2 {
  text-align: center;
  width: 100%;
  color: var(--text);
}
@media (max-width: 750px) {
  .butnHome {
    flex-direction: column;
    align-items: center;
  }
  .butnHome button {
    width: 70%;
  }
  .homeSection div img {
    width: 230px;
  }
}
