@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rufina&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Amiko', sans-serif;
}

:root {
  --container-forms: #31373b1e;
  --input: rgb(252, 252, 252);
  --text: rgb(252, 252, 252);
  --btn-quiz: rgb(0, 139, 209);
  --btn-quiz-text: rgb(255, 255, 255);
  --btn-bold: 700;
  --nav-footer: #473e8754;
  --btn: #3f3294;
}

body {
  background: linear-gradient(
    329deg,
    rgba(246, 108, 177, 0.56) 0.47%,
    rgb(71 50 200 / 93%) 93.49%
  );
}

/*---------- Start Nav -------------------*/
header {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70vw;
  background-color: var(--nav-footer);
  padding: 5px 30px;
  border-radius: 15px;
  margin-top: 4px;
}

.Logo {
  width: 50px;
  cursor: pointer;
}

.continer-log {
  display: flex;
  align-items: center;
  justify-content: center;
}

.signUp,
.login {
  width: 80px;
  height: 45px;
  margin: 0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signUp {
  border-radius: 20px 0 0 20px;
  background-color: rgb(201 221 231 / 48%);
  color: #686868;
}

.login {
  border-radius: 0 20px 20px 0;
  background-color: var(--btn);
  color: var(--text);
}

a {
  font-weight: 400;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*----------End Nav -------------------*/

/*----------Start form -------------------*/

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  height: 76vh;
}

.continer {
  width: 70vw;
  background-color: var(--container-forms);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 15px;
  padding: 0 0 0 35px;
}

.continer form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.continer img {
  width: 370px;
  height: 300px;
}

h2 {
  text-align: center;
  color: var(--text);
}

label {
  margin-top: 20px;
  color: var(--text);
}

input {
  width: 270px;
  height: 35px;
  border-radius: 20px;
  border: none;
  outline: none;
  margin-top: 5px;
  padding: 0 10px;
}

#Login {
  width: 100px;
  margin: auto;
  height: 35px;
  background-color: var(--btn);
  border: none;
  border-radius: 20px;
  margin-top: 20px;
  color: var(--text);
  cursor: pointer;
}
/*----------End form -------------------*/

/*----------Start footer -------------------*/

footer {
  background-color: var(--nav-footer);
  width: 70vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3px auto;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
}

h4 {
  color: var(--text);
}
/*----------End footer -------------------*/

@media (max-width: 1000px) {
  .continer {
    flex-direction: column;
    padding: 30px;
  }
  main {
    height: 90vh;
  }
  .continer img {
    width: 400px;
    height: 200px;
  }
  input {
    width: 290px;
    height: 45px;
  }
}
@media (max-width: 560px) {
  h4 {
    font-size: 10px;
  }
  input {
    width: 160px;
    height: 25px;
  }

  .continer img {
    width: 240px;
  }
}

@media (max-width: 420px) {
  main {
    height: 77vh;
  }
  .continer img {
    width: 175px;
    height: 170px;
  }
  nav {
    flex-direction: column;
    align-items: center;
  }
}
